<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
TO Install:
$ ln -snf ../../.gnupg/LaunchAgents.org.gnupg.gpg-agent.plist ~/Library/LaunchAgents/org.gnupg.gpg-agent.plist

$ launchctl unload ~/Library/LaunchAgents/org.gnupg.gpg-agent.plist
$ launchctl load ~/Library/LaunchAgents/org.gnupg.gpg-agent.plist
-->
<dict>
	<key>Label</key>
	<string>org.gnupg.gpg-agent</string>
	<key>RunAtLoad</key>
	<true/>

	<key>Program</key>
	<string>/opt/homebrew/bin/gpg-agent</string>
	<key>ProgramArguments</key>
	<array>
		<string>gpg-agent</string>
		<string>--daemon</string>
		<string>wait4path</string>
		<string>/dev/impossible</string>
	</array>

<!--
	<key>StandardOutPath</key>
	<string>/tmp/gpg-agent.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/gpg-agent.log</string>
-->
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>AbandonProcessGroup</key>
	<true/>
</dict>
</plist>
